* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 100px;
}


.chat {
    margin: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 95%;
    height: auto;
}

.users {
    padding: 10px;
    
    border-bottom: 1px solid gray;

}

.chat__users {
    padding: 10px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-content: first baseline;
    width: 30%;
    height: auto;
}

.chat__item {
    padding: 10px;
    background-color: blue;
    width: 70%;
    height: auto;

}

.chat__item__header {
    padding: 10px;
    background-color: blueviolet;
}

.chat__item__header__text {
    padding: 10px;
    background-color: red;
    height: auto;
    display: flex;
    flex-direction: column;
}


.chatright {
    margin: 10px;
    padding: 10px;
    text-align: right;
    border-radius: 40px;
    background-color: aliceblue;
}

.chatleft {
    margin: ;
    padding: 10px;
    text-align: left;
    border-radius: 40px;
    background-color: beige;
}

.text-send{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

textarea{
    width: 70%
}

.dropdown-menu{
    width: 15;
}

.btn{
    width: 15%;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}