* {
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: #5fb4f6 !important;
}

form{
    padding: 10px;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #afd6f4;
}

.chatbox {
    border-right: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    display: flex;
    background-color: rgb(97, 194, 221);
    flex-direction: column;
    width: 70%;
   
}

.chatuser {
    background-color: rgb(97, 194, 221);
    display: flex;
    padding: 4px;
    
}



.chatview {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(fondo.jpg);
}

.chatsend {
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 10px;
}

.chatleft {
    padding: 10px;
    width: fit-content;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #9bc8f7;
    justify-content: center;
    text-align: left;
    align-self: flex-start;
}

.chatright {
    padding: 10px;
    width: fit-content;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #b8d9fc;
    /* light blue */
    justify-content: center;
    text-align: right;
    align-self: flex-end;
}

.chatlist {
    border: 2px solid whitesmoke;
    width: 30%;
    background-color: rgb(97, 194, 221);

}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.chats {
    display: flex;
    position: right;
}

.chats_user {
    padding: 10px;
    background-color: rgb(128, 216, 241);
    border-bottom: 2px solid rgb(97, 194, 221);
    display: flex;
}

.person {
    padding: 10px;

}

.user-time {
    padding: 10px;
    display: inline-block;
    position: relative;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}