* {
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: #5fb4f6 !important;
}

.btn-outline-success {
    
    border-color: whitesmoke !important;
    color: whitesmoke;
}

.d-flex{
    border-color: whitesmoke !important;
}

form{
    padding: 10px;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #afd6f4;
}

.chatbox {
    border-right: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    display: flex;
    
    flex-direction: column;
    width: 70%;
    
    background-image: url(fondo.jpg);
   
}



.user-time{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.chatview {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.chatsend {
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 10px;
}

.chatbox-header{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 10px;
    background-color: rgb(97, 194, 221);
}

.chatbox-avatar{
    display: flex;
    margin: 0;
    flex-direction: row;
    
}

.chat-name{
    padding: 10px;
}

.status{
    font-size: 12px;
    display: flex;
    align-self:center;
    padding: 10px;
    color: whitesmoke;
    
}

.chatleft {
    margin: 10PX;
    width: 100%;
    float: left;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    border-radius: 20px;
    background-color: #9bc8f7;
    
    
    
}

p{
    
    padding: 10px;
    width: 80%;
    overflow-y: auto; /* Hace que el texto se ajuste automáticamente */
  word-wrap: break-word;
    
}

.mensaje{
  padding: 10px;
  
    
}
.chat-avatar{
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    width: fit-content;
    align-self: center;
}

.chat-hour{
    font-size: 12px;
    display: flex;
    align-self:center;
    padding: 10px;
}


.chatright {
    float: right;
    width: 100%;
        text-align:justify;
       display: flex;
       align-items: flex-end;
        flex-direction: row-reverse;
    border-radius: 20px;
    background-color: #b8d9fc;
    /* light blue */
    
}

.chatlist {
    border: 2px solid whitesmoke;
    width: 30%;
    background-color: rgb(97, 194, 221);

}

ul  {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.chats {
    display: flex;
    position: right;
}

.chats_user {
    padding: 10px;
    background-color: rgb(128, 216, 241);
    border-bottom: 2px solid rgb(97, 194, 221);
    display: flex;
    flex-direction: column;
}

.person {
    padding: 10px;

}

.user-time {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-footer{
    padding: 10px;
    background-color: white !important;
   
}

img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

