img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.mensaje{
    padding: 10px;
}

p{
    border: 2px solid black;
    padding: 10px;
    width: fit-content;
    
}
.chatleft{
    float: left;
    width: fit-content;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    border: 2px solid black;
}

.chatright{
    float: right;
    width: fit-content;
    text-align:end;
   display: flex;
   align-items: flex-end;
    flex-direction: row-reverse;
}

.chat-avatar{
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    width: fit-content;
}

.chat-hour{
    font-size: 12px;
    display: flex;
    align-self:center;
    padding: 10px;
}